@use 'abstracts' as *;

.cta {
   padding: var(--ct-padding-cta);

   @include e(body) {
      @include flexy($dir: column, $align: center);
      gap: 2rem;
      @include mq(min-width, tablet) {
         @include flexy($dir: row, $just: space-between);
      }
   }

   @include e(arrow) {
      width: 30px;
      @include mq(min-width, tablet) {
         transform: rotate(90deg);
         margin-right: 2.2rem;
      }
   }
}
