@use 'abstracts' as *;

.hero {
   @include m(home) {
      margin: 1rem 0 7rem;

      @include e(body) {
         grid-template-columns: 1fr;
         @include mq(min-width, tablet) {
            grid-template-columns: repeat(5, 1fr);
            @include bg-img(
               '../assets/images/homepage/desktop/hero.jpg',
               $position: -200px center,
               $size: 130%
            );

            @include e(img) {
               grid-column: 1 / -1;
               grid-row: 1 / -1;
               opacity: 0;
            }

            @include e(txt) {
               grid-column: 3 / 6;
               grid-row: 1 / -1;
               align-self: flex-end;
               padding: 1rem 2rem 0 0;
               & .title {
                  max-width: 500px;
                  margin-bottom: 2rem;
               }

               @include mq(min-width, desktop) {
                  grid-column: 1 / 3;
               }
            }
         }
      }
   }

   @include m(details) {
      margin-bottom: var(--details-hero-ct);
   }
}
