@use 'abstracts' as *;

.intro {
   padding: var(--ct-padding-intro);

   @include e(body) {
      @include flexy($dir: column, $align: center);
      gap: 1.7rem;
      @include mq(min-width, tablet) {
         @include flexy($dir: row);
         gap: 1.5rem;
      }
      & > * {
         flex: 1 100%;
      }
   }
}
