@use 'abstracts' as *;

.btn {
   display: inline-block;
   padding: 0.3rem 2.4rem 0.5rem;
   @include uc();
   transition: background-color var(--hover-transition),
      color var(--hover-transition);

   @include m(pm) {
      position: relative;
      padding-left: 4rem;
      background-color: hsl(var(--clr-pm-dark-blue));
      color: hsl(var(--clr-pure-white));
      @include p-el(before, $height: 100%, $width: 40px) {
         position: absolute;
         display: block;
         inset: 0;
         background-color: rgba(black, 0.15);
      }
      @include p-el(after, $content: url('../assets/icons/down-arrows.svg')) {
         position: absolute;
         inset: 50% 0 0 11.5px;
         transform: translateY(-70%);
      }
      &:hover {
         background-color: hsl(var(--clr-pm-cyan));
         @include p-el(
            after,
            $content: url('../assets/icons/down-arrows-white.svg')
         );
      }
      @include m(disabled) {
      }
   }

   @include m(sd) {
      border: 1px solid hsl(var(--clr-pm-dark-grey));
      &:hover {
         background-color: hsl(var(--clr-pm-dark-grey));
         color: hsl(var(--clr-pure-white));
      }
      @include m(disabled) {
         opacity: 0.3;
      }
   }

   @include m(contact) {
      background-color: hsl(var(--clr-pm-dark-blue));
      color: hsl(var(--clr-pure-white));
      &:hover {
         background-color: hsl(var(--clr-pm-cyan));
      }
   }
}
