@use 'abstracts' as *;

.grid-ct {
   @include m(offset) {
      @include mq(max-width, tablet) {
         grid-template-columns: 1fr;
      }

      @include mq(min-width, tablet) {
         gap: 4rem;
         //  make var gap-offset
         //  if bg img for portfolio - include position + size
      }

      @include mq(min-width, desktop) {
         gap: 8rem;
      }

      @include e(txt) {
         @include mq(min-width, tablet) {
            padding: 2rem 0 3.5rem;
            display: grid;
            align-content: center;
            justify-items: left;
         }

         & .desc {
            @include mqs(min-width, tablet, max-width, desktop) {
               margin-bottom: 2rem;
            }
         }
      }
   }
}
