@use 'abstracts' as *;

.logo {
   cursor: pointer;
   transition: fill var(--btn-hover-transition);
   &:hover {
      fill: hsl(var(--clr-pm-cyan));
   }

   @include m(sd) {
      // margin-right: 1rem;
   }
}
