@use 'abstracts' as *;

.logo {
   cursor: pointer;
   transform-origin: center;
   transition: fill var(--btn-hover-transition),
      transform var(--btn-hover-transition);

   @include m(ct) {
      &:hover .logo {
         fill: hsl(var(--clr-pm-cyan));
         transform: rotateX(180deg);
      }
   }

   @include m(sd) {
      // margin-right: 1rem;
   }
}
