body {
   display: grid;
   place-items: center;
   min-height: 100vh;
   font: 1rem/1.5 'Rubik', sans-serif;
   background-color: hsl(226, 43%, 10%);
   color: white;
}

.wrapper {
   outline: 3px solid hsl(235, 46%, 20%);
   min-height: 300px;
   width: 90%;
   max-width: 600px;
   margin-inline: auto;
   overflow: hidden;
   display: grid;
   place-items: center;
}

@keyframes grow {
   0% {
      transform: scale(0);
   }
   30% {
      transform: scale(1.1);
   }
   60% {
      transform: scale(0.9);
   }
}

.badge * {
   transform-origin: center;
}

.outer,
.inner,
.inline,
.star {
   animation: grow 1s ease-out backwards;
}

.inner {
   animation-delay: 0.1s;
}

.inline {
   animation-delay: 0.15s;
}

.star {
   animation-delay: 0.05s;
}

/* treehouse */

.logo {
   stroke: hsl(246, 80%, 60%);
   stroke-width: 2;
   stroke-dasharray: 1000;
   stroke-dashoffset: 1000;
   animation: draw 5s linear infinite;
}

@keyframes draw {
   to {
      stroke-dashoffset: 0;
   }
}
