body {
   display: grid;
   place-items: center;
   min-height: 100vh;
   font: 1rem/1.5 'Rubik', sans-serif;
   background-color: hsl(226, 43%, 10%);
   color: white;
}

.wrapper {
   outline: 3px solid hsl(235, 46%, 20%);
   min-height: 300px;
   width: 90%;
   max-width: 600px;
   margin-inline: auto;
   overflow: hidden;
   display: grid;
   place-items: center;
}

.btn {
   padding: 2rem;
   outline: 1px solid red;
   border: none;
   background-color: transparent;
   cursor: pointer;
}

.btn:hover .hamburger {
   transform: translateY(-50%);
}

svg {
   outline: 1px solid yellow;
}

.hamburger {
   transition: transform 200ms ease-in-out;
   transform-origin: center;
   cursor: pointer;
}
