$colors: (
   pm-cyan: 167 36% 54%,
   pm-dark-blue: 205 41% 21%,
   pm-dark-grey: 245 10% 22%,
   sd-ultra-light-grey: 0 0% 98%,
   sd-light-grey: 240 2% 92%,
   sd-bright-red: 0 90% 57%,
   pure-white: 0 0% 100%,
);

$color-shades: (
   // pure-black: (
   //    100: 0 0% 100%,
   //    200: 0 0% 90%,
   //    300: 0 0% 70%,
   //    400: 0 0% 60%,
   //    500: 0 0% 50%,
   //    600: 0 0% 40%,
   //    700: 0 0% 30%,
   //    800: 0 0% 10%,
   //    900: 0 0% 0%,
   // ),
);
