$colors: (
   // pm-dark-blue: 226 43% 10%,
   // // hsl(226, 43%, 10%)
   // sd-dark-blue: 235 46% 20%,
   // // hsl(235, 46%, 20%)
   // desat-blue: 235 45% 61%,
   // // hsl(235, 45%, 61%)
   // pale-blue: 236 100% 87%,
   // // hsl(236, 100%, 87%)
   // soft-orange: 43 84% 65%,
   // // hsl(43, 84%, 65%)
   // soft-white: 228.5 100% 94.9%,
   // // #E5EAFF
   // purple-blue: 246 80% 60%,
   // // hsl(246, 80%, 60%)
   // deep-purple: 264 64% 52%,
   // // hsl(264, 64%, 52%)
   // lime-green: 145 58% 55%,
   // // hsl(145, 58%, 55%)
   // light-red: 348 100% 68%,
   // // hsl(348, 100%, 68%)
   // soft-blue: 195 74% 62%,
   // // hsl(195, 74%, 62%)
   // light-orange: 15 100% 70%,
   // // hsl(15, 100%, 70%)
   pm-cyan: 167 36% 54%,
   pm-dark-blue: 205 41% 21%,
   pm-dark-grey: 245 10% 22%,
   sd-ultra-light-grey: 0 0% 98%,
   sd-light-grey: 240 2% 92%,
   sd-bright-red: 0 90% 57%
);

$color-shades: (
   // pure-black: (
   //    100: 0 0% 100%,
   //    200: 0 0% 90%,
   //    300: 0 0% 70%,
   //    400: 0 0% 60%,
   //    500: 0 0% 50%,
   //    600: 0 0% 40%,
   //    700: 0 0% 30%,
   //    800: 0 0% 10%,
   //    900: 0 0% 0%,
   // ),
);
