$type-scale: (
   mobile: (
      size: (
         fs-hero-title: 2.3rem,
         fs-500: 3.2rem,
         fs-400: 3rem,
         fs-300: 1.2rem,
         fs-200: 1.1rem,
         fs-100: 0.9rem,
      ),
      line-height: (
         lh-500: 1,
         lh-400: 1.2,
         lh-300: 1.6,
         lh-200: 1.6,
         lh-100: 1.6,
      ),
      weight: (
         fw-extra-bold: 800,
         fw-bold: 700,
         fw-semi-bold: 600,
         fw-medium: 500,
         fw-regular: 400,
         fw-light: 300,
      ),
   ),
   tablet: (
      size: (
         fs-500: 3.6rem,
      ),
      line-height: (),
      weight: (),
   ),
   desktop: (
      size: (),
      line-height: (),
      weight: (),
   ),
);
