$type-scale: (
   mobile: (
      size: (
         fs-500: 3.2rem,
         fs-400: 3rem,
         fs-300-pm: 2rem,
         fs-300-sd: 2.1333rem,
         fs-200: 1rem,
         // body - pm
         fs-100: 0.9375rem,
         // body - sd
      ),
      line-height: (
         lh-500: 1,
         lh-400: 1.2,
         lh-300: 1.6,
         lh-200: 1.875,
         lh-100: 2,
      ),
      weight: (
         fw-bold: 700,
         fw-semi-bold: 600,
         fw-medium: 500,
         fw-regular: 400,
         fw-light: 300,
      ),
   ),
   tablet: (
      size: (),
      line-height: (),
      weight: (),
   ),
   desktop: (
      size: (),
      line-height: (),
      weight: (),
   ),
);
