$type-scale: (
   mobile: (
      size: (
         fs-500-pm: 3.125rem,
         fs-500-sd: 3.333rem,
         fs-400-pm: 2.5rem,
         fs-400-sd: 2.6667rem,
         fs-300-pm: 2rem,
         fs-300-sd: 2.1333rem,
         fs-200: 1rem,
         fs-100: 0.9375rem,
      ),
      line-height: (
         lh-500: 1,
         lh-400: 1.05,
         lh-300: 1.125,
         lh-200: 1.875,
         lh-100: 2,
      ),
      weight: (
         fw-bold: 700,
         fw-semi-bold: 600,
         fw-medium: 500,
         fw-regular: 400,
         fw-light: 300,
      ),
      character-spacing: (
         cs-500: -0.45px,
         cs-400: -0.36px,
         cs-300: -0.29px,
      ),
   ),
   tablet: (
      size: (),
      line-height: (),
      weight: (),
   ),
   desktop: (
      size: (),
      line-height: (),
      weight: (),
   ),
);
