$layout: (
   mobile: (
      center-left-tablet: center,
      center-left-desktop: center,
      center: center,
      gap: 2rem,
      flow-space: 1.5rem,
      ct-padding-header: 1.8rem 0,
      ct-padding-intro: 3rem 0,
      ct-padding-services: 3.5rem 0,
      ct-padding-about: 4rem 0,
      ct-padding-work: 5rem 0,
      ct-padding-cta: 5rem 0,
      ct-padding-footer: 5rem 0,
   ),
   tablet: (
      center-left-tablet: left,
   ),
   desktop: (
      center-left-desktop: left,
   ),
);
