$breakpoints: (
   tablet: 49.999em,
   large: 69.999em,
   align-mw: 79em,
);

$colors: (
   //    pm-green: hsl(186 98% 17%),
   //    pm-coral: hsl(0 87% 73%),
   //    pm-white: hsl(0 0% 100%),
   //    rapture-blue: hsl(179 42% 63%),
   //    police-blue: hsl(187 41% 29%),
   //    jungle-green: hsl(186 100% 14%),
   //    sacramento-green: hsl(186 96% 10%),
   //    dark-green: hsl(186 100% 8%),
);

// $type-scale: (
//    ),
//    lh-small: (
//       lh-500: 1,
//       lh-400: 1,
//       lh-300: 1.5556,
//       lh-200: 1.666,
//    ),
//    lh-large: (
//       lh-500: 0.875,
//       lh-400: 1,
//       lh-300: 1.5556,
//       lh-200: 1.5556,
//    ),
//    weights: (
//       fw-regular: 400,
//       fw-medium: 500,
//       fw-semi-bold: 600,
//       fw-bold: 700,
//    ),
//    align-mobile: (
//       alignment: center,
//       alignment-center: center,
//       gap: 8rem,
//       gap-directors: 3rem,
//       gap-ftr: 2rem,
//       gap-contact: 4rem,
//       flow-space: 1.5rem,
//       ct-padding-cta: 6.5rem 0,
//       ct-padding-ftr: 5rem 0 4rem,
//       ct-padding-about: 5rem 0 7.5rem,
//       ct-padding-contact: 0 0 6rem,
//    ),
//    align-tablet: (
//       gap: 5.5rem,
//       gap-directors: 5rem 1rem,
//       gap-ftr: 0,
//       gap-contact: 5rem,
//       ct-padding-cta: 7rem 0,
//       ct-padding-ftr: 4rem 0,
//       ct-padding-about: 6rem 0 8.3rem,
//       ct-padding-contact: 0 0 6.6rem,
//       fs-500: 4.5rem,
//    ),
//    align-large: (
//       alignment: left,
//       gap: 10rem,
//       gap-directors: 4.5rem 2rem,
//       gap-ftr: 2.2rem 6.5rem,
//       gap-contact: 9rem,
//       flow-space: 2rem,
//       ct-padding-cta: 5rem 0,
//       ct-padding-ftr: 3rem,
//       ct-padding-about: 8rem 0 10rem,
//       ct-padding-contact: 0 0 10rem,
//       fs-500: 5.8rem,
//       fs-400: 2.5rem,
//       fs-employee-name: 1.2rem,
//    ),
// );

$type-scale: (
   mobile: (
      size: (
         fs-500: 3.8rem,
         fs-400: 2.5rem,
         fs-300: 1.2rem,
         fs-200: 1.2rem,
         fs-100: 1rem,
         //   base
      ),
      line-height: (
         lh-500: 1,
         lh-400: 1,
         lh-300: 1.5556,
         lh-200: 1.666,
      ),
   ),
   tablet: (),
   desktop: (),
);

$layout: (
   mobile: (),
   tablet: (),
   desktop: (),
);
