$breakpoints: (
   tablet: 49.999em,
   large: 69.999em,
   align-mw: 79em,
);

$colors: (
   //    pm-green: hsl(186 98% 17%),
   //    pm-coral: hsl(0 87% 73%),
   //    pm-white: hsl(0 0% 100%),
   //    rapture-blue: hsl(179 42% 63%),
   //    police-blue: hsl(187 41% 29%),
   //    jungle-green: hsl(186 100% 14%),
   //    sacramento-green: hsl(186 96% 10%),
   //    dark-green: hsl(186 100% 8%),
);

$type-scale: (
   mobile: (
      size: (
         fs-500: 3.8rem,
         fs-400: 2.5rem,
         fs-300: 1.2rem,
         fs-200: 1.2rem,
         fs-100: 1rem,
         //   base
      ),
      line-height: (
         lh-500: 1,
         lh-400: 1,
         lh-300: 1.5556,
         lh-200: 1.666,
      ),
      weight: (
         fw-bold: 700,
         fw-semi-bold: 600,
         fw-medium: 500,
         fw-regular: 400,
      ),
   ),
   tablet: (),
   desktop: (),
);

$layout: (
   mobile: (
      center-left: center,
      center: center,
      gap: 8rem,
      flow-space: 1.5rem,
      ct-padding: 5rem 0,
   ),
   tablet: (),
   desktop: (),
);
