$breakpoints: (
   tablet: 49.999em,
   desktop: 69.999em,
);

$colors: (
   pm-dark-blue: hsl(226, 43%, 10%),
   sd-dark-blue: hsl(235, 46%, 20%),
   desat-blue: hsl(235, 45%, 61%),
   pale-blue: hsl(236, 100%, 87%),
   soft-orange: hsl(43, 84%, 65%),
   soft-white: hsl(228.5, 100%, 94.9%),
   purple-blue: hsl(246, 80%, 60%),
   violet: hsl(264, 64%, 52%),
   lime-green: hsl(145, 58%, 55%),
   light-red: hsl(348, 100%, 68%),
   soft-blue: hsl(195, 74%, 62%),
   light-orange: hsl(15, 100%, 70%),
);

$type-scale: (
   mobile: (
      size: (
         fs-500: 3.8rem,
         fs-400: 2.5rem,
         fs-300: 1.2rem,
         fs-200: 1.2rem,
         fs-100: 1rem,
         //   base if H4
      ),
      line-height: (
         lh-500: 1,
         lh-400: 1,
         lh-300: 1.5556,
         lh-200: 1.666,
         lh-100: 1,
      ),
      weight: (
         fw-extra-bold: 800,
         fw-bold: 700,
         fw-semi-bold: 600,
         fw-medium: 500,
         fw-regular: 400,
         fw-light: 300,
      ),
   ),
   tablet: (
      size: (),
      line-height: (),
      weight: (),
   ),
   desktop: (
      size: (),
      line-height: (),
      weight: (),
   ),
);

$layout: (
   mobile: (
      center-left: center,
      center: center,
      gap: 8rem,
      flow-space: 1.5rem,
      ct-padding: 5rem 0,
   ),
   tablet: (),
   desktop: (),
);
