@use 'abstracts' as *;

.grid-ct {
   @include m(contact) {
      padding: 1.5rem 0 1.7rem;
      --gap: 0rem;
   }
}

.get-in-touch {
   @include e(title) {
   }

   @include e(body) {
      & .desc {
         margin-bottom: 1.5rem;
      }
   }
}

.contact-me {
   @include e(title) {
   }

   @include e(form) {
   }
}
