@use 'abstracts' as *;

.about {
   @include e(body) {
      grid-template-columns: 1fr;
      @include mq(min-width, tablet) {
         grid-template-columns: 300px auto;
         grid-template-rows: minmax(630px, auto);
         gap: 4rem;
         @include e(img) {
            @include bg-img(
               '../assets/images/homepage/tablet/image-homepage-profile.jpg',
               $position: center,
               $size: cover
            );
            & > img {
               display: none;
            }
         }
      }
      @include mq(min-width, desktop) {
         // align-self: flex-start;
         grid-template-columns: 1fr auto;
         gap: 8rem;
         @include e(img) {
            @include bg-img(
               '../assets/images/homepage/desktop/image-homepage-profile.jpg',
               $position: center,
               $size: cover
            );
         }
      }
      @include e(txt) {
         padding: 2rem 0 3.5rem;
         & .desc {
            margin-bottom: 2rem;
            @include mq(min-width, desktop) {
               max-width: 370px;
            }
         }
         @include mq(min-width, tablet) {
            display: grid;
            align-content: center;
            justify-items: left;
         }
      }
   }
}
