@use 'abstracts' as *;

.about {
   @include e(body) {
      grid-template-columns: 1fr;
      @include mq(min-width, tablet) {
         grid-template-columns: repeat(2, auto);
         gap: 4rem;
      }
      @include e(img) {
         //  & > img {
         //     display: none;
         //  }
      }
      @include e(txt) {
         padding: 2rem 0 3.5rem;
         & .desc {
            margin-bottom: 2rem;
         }
      }
   }
}
