@use 'abstracts' as *;

.projects {
   @include mq(min-width, tablet) {
      margin-top: 2rem;
   }
}

.project {
   @include mq(min-width, tablet) {
      gap: var(--gap-offset);
      @include e(img) {
         display: grid;
         place-items: center;
      }
   }

   @include mqs(min-width, tablet, max-width, desktop) {
      grid-template-columns: repeat(2, 1fr);
   }

   @include e(txt) {
      @include mq(max-width, tablet) {
         padding-block: 1.7rem;
         & .desc {
            margin-bottom: 4rem;
         }
      }
      @include mq(min-width, desktop) {
         & .desc {
            margin-bottom: 2rem;
         }
      }
   }

   @include m(right) {
      @include mq(min-width, tablet) {
         & .project__img {
            grid-column: 2 / 3;
            grid-row: 1 / -1;
         }
         & .project__txt {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
         }
      }
      @include mq(min-width, desktop) {
         grid-template-columns: auto minmax(500px, 1fr);
      }
   }
}
