@use 'abstracts' as *;

// nth-child(even) - create right alignment + swapped order (img on right)
// @include m(right) {
// desktop - if bg img:
// grid-template-columns: auto minmax(500px, 1fr);
// }

.project {
   @include mq(min-width, tablet) {
      gap: var(--gap-offset);
      grid-template-columns: repeat(2, 1fr);
      @include e(img) {
         display: grid;
         place-items: center;
      }
   }

   @include e(txt) {
      @include mq(max-width, tablet) {
         padding-block: 1.7rem;
         & .desc {
            margin-bottom: 4rem;
         }
      }
      @include mq(min-width, desktop) {
         & .desc {
            width: 85%;
            margin-bottom: 2rem;
         }
      }
   }
}
